extends layout

block append vars
    - bodyclass = 'article-detail'

block prepend title
    | #{ "AH: " + page.title + " - "}


block description
    meta(name="description", content="#{ page.metadata.description || page.metadata.abstract }")

block navigation
    mixin nav('none')

block content
    article.article.intro.pure-g-r
        - var articles = env.helpers.getArticles(contents);
        - var currentArticleTags = (page.metadata && page.metadata.tags) ? page.metadata.tags.split(',') : [];
        header.pure-u-1
            div.date.pure-u-1
                = moment(page.metadata.date).format('DD. MMMM YYYY')
            h1.heading.pure-u-1
                = page.title
            div.tags
                - for (var t = 0; t < currentArticleTags.length; t++) {
                    a.tag(href='/tags/' + currentArticleTags[t].trim() + '.html')!=currentArticleTags[t]
                - }
        section.content.pure-u-1!= typogr(page.html).typogrify()
        //TODO: refactor this out for better separation of concerns
        - var furtherReadings = [];
        - var tag;
        - for (var i = 0; i < currentArticleTags.length; i++) {
        -   tag = currentArticleTags[i].trim();
        -   for (var k = 0; k < articles.length; k++) {
        -       var article = articles[k];
        -       if (article.metadata && article.metadata.tags && article.metadata.tags.indexOf(tag) >= 0  && article.metadata.title != page.metadata.title) {
        -           furtherReadings.push(article);
        -       }
        -   }
        - };
        - furtherReadings = _.shuffle(furtherReadings);
        - if (furtherReadings.length >= 2) {
        section.further-readings.pure-g-r
            h3 further reading
            div.further-reading-article.pure-u-1-2
                a(href=furtherReadings[0].url)
                    h4.clipped
                        != furtherReadings[0].metadata.title
                p
                    a(href=furtherReadings[0].url)
                        != furtherReadings[0].metadata.abstract
            div.further-reading-article.pure-u-1-2
                a(href=furtherReadings[1].url)
                    h4.clipped
                        != furtherReadings[1].metadata.title
                p
                    a(href=furtherReadings[1].url)
                        != furtherReadings[1].metadata.abstract
        - }
        //TODO: refactor this out for better separation of concerns
        - var articlesTitles = _.map(articles, function(value, key, list) {
        -       return value.metadata.title;
        - });
        - var thisPageIndex = articlesTitles.indexOf(page.title);
        - var prevArticle = articles[thisPageIndex-1];
        - var nextArticle = articles[thisPageIndex+1];
        - var prevUrl = prevArticle && prevArticle.metadata ? prevArticle.url : '/';
        - var nextUrl = nextArticle && nextArticle.metadata ? nextArticle.url : '/';

include ../mixins/postNavigation.jade
block paging
    mixin postNavigation('Prev', prevUrl, 'Next', nextUrl)
